.container {
  padding: 0;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  background: #fff;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.wepitcherInput {
  @apply appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 mt-2 leading-tight focus:outline-none focus:bg-white;
}